.container {
    display: flex;
}

.container_accordion {
    width: 100vw;
}

.innofab-MuiButton-root.return-button {
    color: #fff;
    background: #272545;
    border-radius: 45px;
    min-width: 146px;
    height: 56px;
    text-transform: none;
}

.innofab-MuiButton-root.return-button:hover {
    background: #a7a4b9;
}

.innofab-MuiButton-root.save-button {
    color: #fff;
    background: #423f6e;
    border-radius: 45px;
    min-width: 165px;
    height: 56px;
    text-transform: none;
    margin-left: 10px;
}

.innofab-MuiButton-root.save-button:hover {
    background: #3c3957;
}